<div class="container">
    <!-- Dados Gerais -->
    <div class="card">
      <div class="card-header">
        <h3>Dados Gerais</h3>
      </div>
      <div class="card-body">
        <p>Os dados de Dengue apresentados neste informe referem-se ao período entre as Semanas Epidemiológicas (SE) 01 a 10 de 2024 com atualização até a data deste informe, com comparações com o mesmo período de 2023.</p>
        <p>Outras informações mais detalhadas sobre Dengue, Zika e Chikungunya podem ser acessadas pelo <a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/aedes-aegypti/monitoramento-das-arboviroses" target="_blank">painel de monitoramento dos casos</a>.</p>
      </div>
    </div>
  
    <!-- Gráfico de Casos Prováveis de Dengue -->
<div class="card">
    <div class="card-header">
      <h3>Casos Prováveis de Dengue por Semana Epidemiológica</h3>
    </div>
    <div class="card-body">
      <canvas id="casosProvaveisDengueChart" width="400" height="200"></canvas>
    </div>
  </div>
  
  
    <!-- Decretos de Emergência Publicados -->
    <div class="card">
      <div class="card-header">
        <h3>Decretos de Emergência Publicados</h3>
      </div>
      <div class="card-body">
        <p>Agenda:</p>
        <p>2023: AC (1), AP (3), BA (18)</p>
        <p>2024: RJ (15), RN(1), RS (19), SC (42), SP (67)</p>
      </div>
    </div>
  
    <!-- Casos e Óbitos -->
    <div class="card">
      <div class="card-header">
        <h3>Casos e Óbitos</h3>
      </div>
      <div class="card-body">
        <p>No ano de 2024, foram registrados 407 casos prováveis de dengue e foram publicados decretos de emergência em 11 federativas.</p>
        <p>Observa-se ainda que os casos graves de dengue foram mais comuns na faixa etária de 20 a 29 anos, enquanto os óbitos mais frequentes ocorreram na faixa etária de 70 a 79 anos.</p>
      </div>
    </div>
  
    <!-- Mapa de Sorotipos -->
    <div class="card">
      <div class="card-header">
        <h3>Mapa de Sorotipos de Vírus Indicados para Dengue</h3>
      </div>
      <div class="card-body">
        <p>No mapa estão representados os sorotipos dos vírus da dengue detectados no país em 2024. Observa-se a circulação simultânea dos 4 sorotipos no território nacional, com mais ênfase para os sorotipos 1 e 2.</p>
      </div>
    </div>
  
  </div>
  