<div class="home">

    <!-- Aparatado imágen de fondo -->
   <div class="home-background-image-1">
        <div class="wrapper-home">
            <section class="row">
                <div class="col-md-6 col-12 mb-3">
                    <h2 class="text-light-custom">No mundo todo, o Dengue é uma ameaça séria à saúde pública.</h2>
                    <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                    <button class="button-blue" (click)="playAudio()">Ouça</button>
                    <!-- Adicionando o botão e chamando a função playAudio() -->
                    <audio #audioPlayer>
                        <source src="assets/audio/audio.mp3" type="audio/mp3">
                        <!-- Substitua "seu_audio.mp3" pelo nome do seu arquivo de áudio na pasta assets -->
                    </audio>                </div>
                <div class="col-md-6 col-12 mb-3"></div>
            </section>
            <section class="row">
                <div class="col-md-6 col-12 mb-3"></div>
                <div class="col-md-6 col-12 mb-3">
                    <ul class="list-unstyled">
                        <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        <li >
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

   